$susy: (
  columns: 12,
  container: 60em,
  gutters: 0.25,
  global-box-sizing: border-box,
  debug: (image: show-columns)
);

.grid-test {
  @include container();

  &__copy {
    @include mq($from: tablet) {
      @include span(9 of 12 last);
    }
  }

  &__sidebar {
    @include mq($from: tablet) {
     @include span(3 of 12);
    }
  }
}
